html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


@font-face {
	font-family: 'Conv';
	src: url ('../fonts/PD8lhVe6.eot');
	src: local('вє'), url('../fonts/PD8lhVe6.woff') format('woff'), url('../fonts/PD8lhVe6.ttf') format('truetype'), url('../fonts/PD8lhVe6.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-UltraLight';
  src: url('../fonts/HelveticaNeueCyr-UltraLight.eot');
  src: url('../fonts/HelveticaNeueCyr-UltraLight.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HelveticaNeueCyr-UltraLight.woff2') format('woff2'),
       url('../fonts/HelveticaNeueCyr-UltraLight.woff') format('woff'),
       url('../fonts/HelveticaNeueCyr-UltraLight.ttf') format('truetype'),
       url('../fonts/HelveticaNeueCyr-UltraLight.svg#HelveticaNeueCyr-UltraLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'pf_din_text_cond_proregular';
    src: url('../fonts/pfdintextcondpro-regular-webfont.eot');
    src: url('../fonts/pfdintextcondpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-regular-webfont.woff') format('woff'),
         url('../fonts/pfdintextcondpro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }

@font-face {
    font-family: 'pf_din_text_cond_promedium';
    src: url('../fonts/pfdintextcondpro-medium-webfont.eot');
    src: url('../fonts/pfdintextcondpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-medium-webfont.woff') format('woff'),
         url('../fonts/pfdintextcondpro-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_din_text_cond_prolight';
    src: url('../fonts/pfdintextcondpro-light-webfont.eot');
    src: url('../fonts/pfdintextcondpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-light-webfont.woff') format('woff'),
         url('../fonts/pfdintextcondpro-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.clear {
	clear: both;
    height: 0;
}
h1 {
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	color: #000;
	font-size: 35px;
	font-weight: 700;
}
body {
	width: 100%;
	height: 100%;
	font-size: 15px;
	color: #444;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 auto;
	background: #ececec;
}
.background {
	background-position: 50% top;
    background-repeat: no-repeat;
    background-color: #ececec;
    background-image: url(../img/hero.jpg);
    background-attachment: fixed;
	height: 500px;
	width: 100%;
	/*margin-bottom: 20px;*/
}
/*.top_back {
	width: 100%;
	height: 76px;
	background: url(../img/services_bg2.png) center center no-repeat, url(../img/587_uconstructor29.png) repeat;
}
.top_back_small {
	width: 100%;
	height: 25px;
	background: url(../img/services_bg2.png) center center no-repeat, url(../img/587_uconstructor29.png) repeat;
}*/
/*.black {
	width: 100%;
	height: 100%;
	overflow: auto;
	background: rgba(0,0,0,0.7);
}*/
.header {
	width: 100%;
	height: 70px;
	/*background: url(../img/slider-2015.jpg) center bottom no-repeat;*/
}
.top_header {
	/*width: 1200px;
	margin: 0 auto;*/
}
/*.logo img {
	margin-top: 10px;
}*/
a.logo {
	display: block;
	float: left;
	font-family: 'Conv';
	color: #000;
	text-decoration: none;
	font-size: 35px;
	padding: 1px 0px 0px 0px;
	/*text-shadow: 1px 1px 1px #000;*/
	height: 70px;
	overflow: hidden;
}
a.logo b {
	font-family: 'HelveticaNeueCyr-UltraLight';
	font-size: 18px;
	display: block;
	text-transform: none;
	color: #000;
	font-weight: 900;
}
.communication {
	position: relative;
	float: right;
	margin-top: 15px;
}
.communication i {
	margin: 0 3px -3px 0;

}
.communication p {
	float: left;
	padding: 9px 8px 0;
	margin: 0;
	font-size: 16px;
/*	text-shadow: 1px 1px 1px #000;*/
	font-weight: 100;
	color: #000;
}
.communication p b:hover {
	color: #fff;
}
.communication p b:hover img {
	opacity: 1;
	-moz-opacity: 1;
	-ms-opacity: 1;
	-o-opacity: 1;
}
/*End header*/
.container {
	margin: 0 auto;
	max-width: 1200px;
	/*min-width: 960px;*/
	padding: 0 20px;
}
/*>>>>Menu<<<<<*/
.nav {
	width: 100%;
	text-align: center;
	border: 1px #555 solid;
	padding: 0px;
	margin: 10px 0px 0px 0px;
	background: url(../img/navbbb.png);
	/*position: absolute;*/
}
.nav ul {
	list-style: none;
	padding: 0px;
	margin: 0px auto;
	position: relative;
}
.nav ul li {
	display: inline-block;
	margin: 0px 0px;
	cursor: pointer;
}
.nav ul li a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	padding: 17px 27px;
	font-size: 15px;
	transition: all 0.4s ease-out;
	-webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
}
.nav ul li a:hover {
	background: #fff;
	color: #333;
}
.nav li ul {
	height: 0px;
	width: 0px;
	overflow: hidden;
	position: absolute;
	top: auto;
	margin: 0px;
	text-align: left;
	background: #fff;
	z-index: 450;
}
.nav li ul li {
	display: list-item;
	margin: 0px;
}
.nav li ul li a {
	color: #000;
	padding: 13px 20px;
	font-size: 14px;
	border-bottom: 1px #f0f0f0 solid;
	border-left: 1px #ccc solid;
	border-right: 1px #ccc solid;
}
.nav li:hover ul{
	height: auto;
	width: auto;
	left: auto;
}
.nav ul li:hover a {
	background: #fff;
	color: #333;
}
.nav li ul li a:hover {
	background: #000;
	color: #fff;
}
/*Brief*/
.brief {
	box-sizing: border-box;
	height: 51px;
	/*float: right*/;
	position: relative;
}
.brief_cell {
	height: 100%;
	width: 122px;
	/*overflow: hidden;*/
	position: relative;
	-webkit-transition: width .15s .05s;
    -moz-transition: width .15s .05s;
    -o-transition: width .15s .05s;
    transition: width .15s .05s;
}
.brief_sell span {
	display: block;
	position: relative;
	left: 20px;
	-webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}
.brief_bounce {
	padding-right: 24px;
    background: url(../img/brief-ico2black.png) 100% 54% no-repeat;
    top: -100%;
    opacity: 0;
    position: absolute;
}
.brief_base {
	bottom: 0;
	opacity: 1;
}
li.brief:hover .brief__cell {
    width: 128px !important;
}
li.brief:hover .brief__bounce {
    top: 0 !important;
    opacity: 1 !important;
}
li.brief:hover .brief__base {
    opacity: 0 !important;
    bottom: -100% !important;
}
/*End Brief*/
.back_services {
	/*background: url(../img/759_09.png) repeat;*/
	/*background: url(../img/sky_left.jpg) left top no-repeat, url(../img/sky_right.jpg) right top no-repeat, #dbf0f3 url(../img/cm_bg.png) center top repeat-x;*/
	/*background: url(../img/services_bg2.png) center center no-repeat, url(../img/services_bg.png) repeat;*/
	width: 100%;
	height: 100%;
	padding-top: 20px;
	position: relative;
}
.back_services:before {
	display: block;
    width: 100%;
    height: 5px;
    background: rgba(0,0,0,0.19);
    position: absolute;
    top: 0;
    content: '';
}
/*>>>>END MENU<<<<*/

/*--==SERVICES==--*/
em {
    font-style: italic;
}
.cont_serv {
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
	padding: 0px 20px;
}
ul.row {
	list-style: none;
	text-align: left;
	padding-top: 50px;
	position: relative;
	font-size: 14px;
	margin-left: -35px;
	display: flex;
}
.span3 {
	max-width: 270px;
	float: left;
    min-height: 1px;
    margin-left: 38px;
}
ul.row li {
	flex-grow: 1;
    display: block;
    background-color: #fff;
    height: 310px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.25);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
    position: relative;
    text-align: center;

}
ul.row li.web {
	background: url(../img/slide1.png) bottom center no-repeat #fff;
}
ul.row li.mobile {
	background: url(../img/slide2.png) bottom center no-repeat #fff;
}
ul.row li.apps {
	background: url(../img/slide3.png) bottom center no-repeat #fff;
}
ul.row li.qa {
	background: url(../img/slide4.png) bottom center no-repeat #fff;
}
ul.row li.web .btn {
	left: 20%;
}
ul.row li.mobile .btn {
	left: 15.5%;
}
ul.row li.apps .btn {
	left: 17%;
}
ul.row li.qa .btn {
	left: 19%;
}

.hero-image {
	    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 65px;
    top: -40px;
    z-index: 10;
    left: 85px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    background-color: #fff;
    display: block;
}
.hero-image img {
	max-width: 100%;
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
ul.row li h3 {
    margin-top: 70px;
    padding: 0 20px;
    line-height: 22px;
    font-weight: bold;
    font-size: 16px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    text-rendering: optimizelegibility;

}
ul.row li p {
	padding: 0 20px;
    line-height: 22px;
    margin: 0 0 10px;
}
.btn {
	text-decoration: none;
	font-weight: bold;
	position: absolute;
    left: 21%;
    bottom: 37px;
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #cccccc;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}


@media screen and (max-width: 1199px) and (min-width: 980px) {
	.hero-image {
	    top: -40px;
	    left: 60px;
	}
}
/*--==END_SERVICES==--*/

/*Text*/
.content-text {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px 20px;
}
.sectionsite {
	width: 100%;
	margin-top: 30px;
}
.article_left {
	float: left;
    width: 68.5%;
    min-height: 400px;
    margin: 20px 0 0;
    padding: 20px 30px;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.25);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    transition: all .4s ease-out;
}
.aside {
    float: right;
    width: 24.2%;
    min-height: 400px;
    margin: 20px 0 0;
}
.article_left p {
	color: #444;
    text-align: justify;
    line-height: 22px;
    margin: 0;
    font-size: 16px;
    padding: 0 0 25px;
}
.article_left h2 {
	font-size: 25px;
    margin: 0;
    padding: 0 0 15px;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    color: #000;
    font-weight: 700;
}
.right_block_2 {
	margin-top: 20px;
}
.right_block {
	background: #fff;
	padding: 20px 20px;
	margin-bottom: 20px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.25);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
}
.white_block {
    background: #fff;
    padding: 20px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.25);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
    line-height: 17px;
    font-size: 14px;
}
.white_block h4 {
	font-family: 'PT Sans Narrow' , Arial, sans-serif;
    color: #444;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-weight: 700;
 }
 .white_block ul {
	 list-style: none;
	 margin-top: 7px;
	 margin-bottom: 10px;
 }
 .white_block ul li {
    padding: 5px 0 5px 0px;
    font-size: 14px;
    background: none;
    border-bottom: 1px solid #E5E5E5;
}
/* Базовый контейнер табов */
.tabs {
  min-width: 320px;
  max-width: 800px;
  padding: 0px;
  margin: 0 auto;
}
/* стили секций с содержанием */
section {
  display: none;
  padding: 15px;
  background: #fff;
  border: 1px solid #ddd;
}
.tabs input {
  display: none;
}
/* стили вкладок (табов) */
.tabs label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 15px;
  font-weight: 600;
  text-align: center;
  color: #aaa;
  border: 1px solid #ddd;
  background: #f1f1f1;
  border-radius: 3px 3px 0 0;
}
/* шрифт-иконки от Font Awesome в формате Unicode */
.tabs label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}
.tabs label[for*="1"]:before {
  content: "\f0e7";
}
.tabs label[for*="2"]:before {
  content: "\f0ec";
}
.tabs label[for*="3"]:before {
  content: "\f13b";
}
.tabs label[for*="4"]:before {
  content: "\f047";
}
/* изменения стиля заголовков вкладок при наведении */
.tabs label:hover {
  color: #888;
  cursor: pointer;
}
/* стили для активной вкладки */
.tabs input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 1px solid #009933;
  border-bottom: 1px solid #fff;
  background: #fff;
}
/* активация секций с помощью переключателя :checked */
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}
/* медиа запросы для различных типов носителей */
@media screen and (max-width: 680px) {
  .tabs label {
    font-size: 0;
  }

  .tabs label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  .tabs label {
    padding: 15px;
  }
}

/*End Text*/

/*Carousel*/
.carousel_bg1 {
	    margin-top: 80px;

}
.wrapper {
	max-width: 1200px;
	/*height: 100%;*/
	margin: 0 auto;
}
.content-main {
	max-width: 1200px;
	position: relative;
	/*height: 650px;*/
	margin: 0 auto;
	margin-bottom: 80px;
}
.row-services {
	/*max-width: 940px;
	min-width: 320px;
	height: 306px;*/
	overflow: hidden;
	margin-bottom: 20px;
	padding: 0px 10px;
}
.service {
	width: 39.87%;
	/*height: 306px;*/
	float: left;
	display: block;
}
a.service_head:hover .service_title {
	background: #ed003c;
}
 a.service_head:hover span {
	color: #fff;
	padding-left: 20px;
}
a.service_head:hover .bgp span {
	color: #ed003c;
	padding-left: 0px;
}
.service:first-child {
	margin-right: 4.25%;
}

a.service_head {
	display: block;
	text-decoration: none;
    width: 100%;
}
.service_title {
	width: 100%;
	height: 47px;
	display: table;

}
.service_title span {
	text-transform: uppercase;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-size: 30px;
    font-weight: 500;
    /*text-shadow: 0px 1px 1px #000;*/
	-webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    display: table-cell;
    color: #000;
    padding-top: 7px;
}
.service_ico {
	overflow: hidden;
	position: relative;
	border: 1px solid #dee1e4;
	min-height: 144px;
	/*height: 178px;*/
	background: #fff;
}
.service__ico img.mask {
	position: absolute;
	display: none;
	left: 0;
	top: 0;
}
.service_ico img {
	width: 100%;
	height: auto;

}
p.bgp {
	margin-top: -35px !important;
	color: #80838e !important;
	padding-left: 17px !important;
	text-transform: uppercase;
	font-size: 14px;
}
.mask {
	display: none;
}
a.service_head:hover .service_ico img.mask {
	display: block;
	margin-bottom: 2.5px;
}
.service p {
	margin: 0px;
	padding: 0px;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-weight: 500;
   /* text-shadow: 0px 1px 1px #000;*/
	color: #000;
}
a.service_head:hover .service_ico img {
	display: none;
}
p.bgp span {
	color: #ed003c;
}
.getsite {
	margin-bottom: 20px;
    position: relative;
    z-index: 150;
    background: #fff;
    padding: 15px 20px 0;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.25);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
    margin: 0;
    height: 80px;
    overflow: hidden;
    -webkit-transition: all .8s ease-out;
    -moz-transition: all .8s ease-out;
    -o-transition: all .8s ease-out;
    -ms-transition: all .8s ease-out;
    transition: all .8s ease-out;
}
.getsite a.ordform {
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    margin: 10px 0 0;
    display: block;
    border: 1px #ccc solid;
    padding: 7px;
    -webkit-transition: all .8s ease-out;
    -moz-transition: all .8s ease-out;
    -o-transition: all .8s ease-out;
    -ms-transition: all .8s ease-out;
    transition: all .8s ease-out;
}
.getsite a.ordform span {
    font-size: 9px;
    display: block;
}
.getsite p {
    font-size: 13px;
    line-height: 19px;
    color: #000;
    padding: 20px 0 0;
}
.getsite:hover {
    height: 260px;
    margin-bottom: -180px;
    -webkit-box-shadow: 0 15px 10px -10px #444,0 1px 0 #444;
    -moz-box-shadow: 0 15px 10px -10px #444,0 1px 0 #444;
    box-shadow: 0 15px 10px -10px #444,0 1px 0 #444;

}
/** Carousel **/
.carousel_bg {
	width: 100%;
	height: 262px;
	background: #a6a7a1;
	box-shadow: inset 0px 2px 5px #444;
    -webkit-box-shadow: inset 0px 2px 5px #444;
    margin-bottom: 200px;
}
.jcarousel-wrapper {
    position: relative;
    width: 100%;
    overflow-y: hidden;
    float: left;
    margin: 0 auto;
    background: url(../img/bg-section.jpg) 50% 50% repeat;
    background-attachment: fixed;
    /*box-shadow: inset 0px 2px 5px #444;
    -webkit-box-shadow: inset 0px 2px 5px #444;*/
    margin-bottom: 20px;
    padding: 30px 0px;
}
h3.h3carousel {
	    font-size: 25px;
    text-align: center;
    font-weight: 800;
    line-height: 25px;
    margin-bottom: 25px;
    text-transform: uppercase;
    color: #333;
        font-family: 'PT Sans Narrow', Arial, sans-serif;
}
a.h3carousel {
	color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb75b;
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    font-size: 16px;
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
        border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #cccccc;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
}
a.h3carousel:hover {
	    color: #ffffff;
    background-color: #51a351;
}

.jcarousel {
    position: relative;
    overflow: hidden;
    max-width: 1166px;
    /*min-width: 960px;*/
    margin: 0 auto;
}
.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
.jcarousel li {
    float: left;
    margin: 7px;
    border: 5px solid #CACACA;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
}
.jcarousel img {
    display: block;
    width: 100%;
    height: auto !important;
}
/** Carousel Controls **/
.jcarousel-control-prev
 {
    position: relative;
    text-decoration: none;
    width: 45px;
    height: 45px;
    border: none;
    outline: 0 !important;
     margin-left: 188px;
    text-align: center;
    cursor: pointer;
    float: left;
    background-image: url(../img/left.png);
    margin-left: 5px;
    overflow: hidden;
}
.jcarousel-control-prev img {
    margin-top: -2px !important;
}
.jcarousel-control-next {
    position: relative;
    text-decoration: none;
    width: 45px;
    height: 45px;
    outline: 0 !important;
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    float: right;
    background-image: url(../img/right.png);
}
.jcarousel-control-prev:hover {
	opacity: 0.8;
}
.jcarousel-control-next:hover {
	opacity: 0.8;
}
.jcarousel-control-prev, .jcarousel-control-next {
	margin-top: -140px;

	z-index: 99999999;
}
/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}
.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;
    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;
    margin-right: 7px;
    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}
.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;

    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}
.slide_content {
    height: 100%;
    width: 100% !important;
    overflow: hidden;
    display: none;
    -moz-transition: background-color 0.8s 0.1s ease;
	-o-transition: background-color 0.8s 0.1s ease;
	-webkit-transition: background-color 0.8s 0.1s ease;
	transition: background-color 0.8s 0.1s ease;
}
.jcarousel ul li .slide_content:hover {
	background-color: #ed003c;
	background: rgba(237,28,36,0.8);
}

.slide_content p {
	color: #fff;
	font-size: 16px;
	margin: 7px;
}
.slide_info {
	margin-top: 71px;
}
.jcarousel ul li .top_p {
	display: block;
	z-index: 100;
	top: -200px;
	position: relative;
	-webkit-transition: 0.8s 0.08s ease;
	-o-transition: 0.8s 0.08s ease;
	-moz-transition: 0.8s 0.08s ease;
	transition: 0.8s 0.08s ease;
}
.jcarousel ul li .slide_content:hover .top_p {
	top: 0;
}
.jcarousel ul li .slide_content:hover .bot_p {
	margin: 10px 0px 0px 0px;
	bottom: 0;
}
.jcarousel ul li .bot_p {
	display: block;
	z-index: 100;
	bottom: -200px;
	position: relative;
	-webkit-transition: 0.8s 0.08s ease;
	-o-transition: 0.8s 0.08s ease;
	-moz-transition: 0.8s 0.08s ease;
	transition: 0.8s 0.08s ease;
}
.line {
	width: 210px;
	margin: 0 auto;
	height: 4px;
	-moz-transition: background-color 0.8s 0.3s ease;
	-o-transition: background-color 0.8s 0.3s ease;
	-webkit-transition: background-color 0.8s 0.3s ease;
	transition: background-color 0.8s 0.3s ease;
}
.jcarousel ul li .slide_content:hover .line {
	background: #CACACA;
}
.jcarousel li:hover .imgs {
	position: relative;
	z-index: 3;
}
.jcarousel li:hover .slide_content {
	display: block;
	z-index: 100000 !important;
	position: absolute;
	top: 0px;
}
a.birka {
	width: 191px;
    height: 70px;
    background: url(../img/birka.png) no-repeat center top;
    float: left;
    margin: -63px 0px 0px 0px;
    left: 43.5%;
    position: absolute;
    z-index: 500;
    display: block;
}
.wrapp {
	margin: 0 auto;
    min-width: 960px;
    max-width: 1300px;
    padding: 0 20px;
}
b {
	font-weight: bold;
}
.article_left ul {
    margin: 0;
    padding: 0 0 5px 15px;
    line-height: 21px;
}
.article_left ul li {
    margin: 0 0 10px;
    line-height: 25px;
}
ul.LeftAnouncesBlog {
   /* border: 3px #ddd solid;*/
    margin: 0px;
    padding: 15px;
    list-style: none;
}
ul.LeftAnouncesBlog h4 {
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    margin: 0px;
    padding: 0px 0px 15px 0px;
    color: #000;
    font-size: 20px;
    font-weight: 700;
}
.nopadding {
	padding: 0px !important;
}
ul.LeftAnouncesBlog li {
    margin: 0px;
    padding: 0px;
    position: relative;
    z-index: 100;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
ul.LeftAnouncesBlog a {
    color: #000;
    text-decoration: none;
}
ul.LeftAnouncesBlog p {
    color: #999;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}
ul.LeftAnouncesBlog h5 {
    margin: 15px 0px 5px 0px;
    padding: 0px;
    font-size: 13px;
}
.footContent {
	width: 100%;
	background-position: 24% 52%;
    background-repeat: no-repeat;
    background-color: #ececec;
    background-image: url(../img/hero.jpg);
    /*background-attachment: fixed;*/
	/*height: 280px;*/
	margin-top: 40px;
}
.first_footer {
	max-width: 1200px;
	margin: 0 auto;
	height: 183px;
	padding: 30px 20px 55px 20px;
}
.cert {
	float: left;

}
.cert h3 {
	font-size: 25px;
    color: #000;

    margin: 10px 0px;
	font-family: 'PT Sans Narrow' , Arial, sans-serif;
	font-weight: 700;
}
.cert p {
	color: #000;
    font-size: 15px;
    line-height: 14px;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
.cert ul {
	list-style: none;
	float: left;
	margin-right: -36px;
}
.cert ul li {
	float: left;
	width: 12%;
	height: 180px;
	overflow: hidden;
}
.cert ul li img {
	width: 97%;
	opacity: 1;
	float: right;
    -moz-opacity: 1;
    -webkit-opacity: 1;
    -o-opacity: 1;
    margin-left: 4px;
}
.cert ul li:hover img {
	opacity: 0.8;
	-moz-opacity: 0.8;
	-webkit-opacity: 0.8;
	-o-opacity: 0.8;
}
.cert ul li:hover img.mirror {
	opacity: 0.5 !important;
}
td.lefttd {
	vertical-align: middle;
}
td.righttd {
	overflow: hidden;
}
.cert {
	float: left;
	margin-top: 15px;
}
.mirror {
	transform: scale(1, -1);
	-webkit-opacity: 0.3 !important;
	-moz-opacity: 0.3 !important;
	-o-opacity: 0.3 !important;
	opacity: 0.3 !important;
}
/*.mirror:before {
	content: "";
    display: block;
    width: 100%;
    height: 80%;
    background:-moz-linear-gradient(top, rgba(255,255,255,0.7), rgba(255,255,255,1));
    background: -o-linear-gradient(top, rgba(255,255,255,0.7), rgba(255,255,255,1));
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.7)), to(rgba(255,255,255,1)));
    position: absolute;
    left: 0;
    top: 110%;
    z-index: 2;
}*/
.reflect canvas {
	margin-left: 2.91px;
}
.footer {
	padding: 10px 20px;
	max-width: 1200px;
	margin: 0 auto;
}
.second_footer {
	width: 100%;
	height: 100%;
	background: #ccc;
}
.footer td {
	width: 400px;
	vertical-align: middle;
}
.zakazBTN {
	color: #fff;
    text-decoration: none;
    padding: 2px 27px;
    font-size: 22px;
    transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    border: 1px #555 solid;
    text-align: center;
    background: url(../img/navbbb.png);
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-weight: 100;
    text-shadow: 0px 1px 2px #000;
    margin-bottom: 20px;
}
.zakazBTN:hover {
	background: #fff;
    color: #333;
}
/*Additional Pages*/
.background.small {
	height: 255px;
}
.linetwo {
	    position: relative;
			width: 100%;

			margin-top: 38px;
}
.linetwo:before {
    display: block;
    width: 100%;
    height: 5px;
    background: rgba(0,0,0,0.19);
    position: absolute;
    top: 0;
    content: '';
}
.sectionsite.inner {
	margin-top: 20px;
}
.background.small h1 {
	text-transform: uppercase;
	padding: 38px 20px 0 0;
}
/*.bitNet {
		text-align: center;
		margin-bottom: 10px;
}*/
.bitNet a.zakazBTN {
/*	background: #FFE5BF;
	color: #000;*/
	/*text-shadow: none;*/
	display: block;
}
.bitNet a.zakazBTN:hover {
	/*background: #FD963F;*/
}
ul.bitNet {
	list-style: none;
	margin: 0px 0px 10px 0px !important;
	padding: 0px !important;
	display: table;
	width: 100%;
}
ul.bitNet li {
	display: table-cell;
}
.bitNet a.zakazBTN:hover {
    background: #fff;
    color: #333;
}
.item_serv {
	width: 30.3%;
	height: 270px;
	float: left;
	margin: 0px 3% 40px 0px;
	border-top: 1px #000 dashed;
	background: #ccc;
}
.serv a {
	color: #000;
}
a .item_serv h5 {
	margin: 0px;
	padding: 15px 20px 5px 20px;
	font-size: 15px;
	font-weight: bold;
	height: 45px;
	text-align: center;
}
.item_serv a {
	display: block;
	width: 100%;
	height: 170px;
	overflow: hidden;
	margin-bottom: 15px;
}
.item_serv img {
	width: 100%;
	height: 145px;
}
.item_serv p.more {
	width: 150px;
	background: #fff;
	margin: 26px auto 0px auto;
	display: block;
	text-align: center;
	padding: 10px 0px;
	text-decoration: none;
	border: 1px solid #f3eae1;
	font-weight: bold;
	border-bottom: 1px #333 dashed;
	-webkit-transition: all .4s ease-out;
	-moz-transition: all .4s ease-out;
	-o-transition: all .4s ease-out;
	-ms-transition: all .4s ease-out;
	transition: all .4s ease-out;
}
.item_serv p.more:hover {
	background: #333;
	color: #fff;
}
.serv a:hover {
	color: #980;
}
ul.port {
	list-style: none;
	margin-top: 20px;
	padding: 0px;
}
ul.port:hover li a img {
	opacity: 0.5;
}
ul.port li {
	width: 47%;
	margin: 25px 0px 20px 0px;
	float: left;
	border: 3px #fff solid;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.25);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
}
ul.port li:nth-child(even) {
	float: right;
}
ul.port li a {
	display: block;
	width: 100%;
}
ul.port li div.imgport {
	display: block;
	width: 100%;
	height: 320px;
	overflow: hidden;

	-webkit-transition: all 3.6s ease-out;
  -moz-transition: all 3.6s ease-out;
  -o-transition: all 3.6s ease-out;
  -ms-transition: all 3.6s ease-out;
  transition: all 3.6s ease-out;
}
ul.port li a img {
	width: 100%;
	-webkit-transition: all 3.6s ease-out, opacity .35s ease-in-out;
	-moz-transition: all 3.6s ease-out, opacity .35s ease-in-out;
	-o-transition: all 3.6s ease-out, opacity .35s ease-in-out;
	-ms-transition: all 3.6s ease-out, opacity .35s ease-in-out;
	transition: all 3.6s ease-out, opacity .35s ease-in-out;

}
ul.port li a:hover img {
	margin: -100px 0px 0px 0px;
	opacity: 1;
}
ul.port li a {
	text-decoration: none;
}
ul.port li a h2 {
	margin: 0px;
	padding: 12px 0px;
  background: url(../img/navbbb.png);
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-weight: 100;
	transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  text-shadow: 0px 1px 2px #000;
}
ul.port li a:hover h2 {
	color: #000;
	background: #fff;
}
