html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
@font-face {
	font-family: 'Conv';
	src: url ('../fonts/PD8lhVe6.eot');
	src: local('вє'), url('../fonts/PD8lhVe6.woff') format('woff'), url('../fonts/PD8lhVe6.ttf') format('truetype'), url('../fonts/PD8lhVe6.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-UltraLight';
  src: url('../fonts/HelveticaNeueCyr-UltraLight.eot');
  src: url('../fonts/HelveticaNeueCyr-UltraLight.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HelveticaNeueCyr-UltraLight.woff2') format('woff2'),
       url('../fonts/HelveticaNeueCyr-UltraLight.woff') format('woff'),
       url('../fonts/HelveticaNeueCyr-UltraLight.ttf') format('truetype'),
       url('../fonts/HelveticaNeueCyr-UltraLight.svg#HelveticaNeueCyr-UltraLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'pf_din_text_cond_proregular';
    src: url('../fonts/pfdintextcondpro-regular-webfont.eot');
    src: url('../fonts/pfdintextcondpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-regular-webfont.woff') format('woff'),
         url('../fonts/pfdintextcondpro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }

@font-face {
    font-family: 'pf_din_text_cond_promedium';
    src: url('../fonts/pfdintextcondpro-medium-webfont.eot');
    src: url('../fonts/pfdintextcondpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-medium-webfont.woff') format('woff'),
         url('../fonts/pfdintextcondpro-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_din_text_cond_prolight';
    src: url('../fonts/pfdintextcondpro-light-webfont.eot');
    src: url('../fonts/pfdintextcondpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-light-webfont.woff') format('woff'),
         url('../fonts/pfdintextcondpro-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.clear {
	clear: both;
    height: 0;
}
body {
	width: 100%;
	height: 100%;
	font-size: 15px;
	color: #444;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 auto;
}
.background {
	background: url(../img/slider-2015-1.jpg) center 70% no-repeat;
	height: 500px;
	width: 100%;
	margin-bottom: 20px;
}
.black {
	width: 100%;
	height: 100%;
	overflow: auto;
	background: rgba(0,0,0,0.7);
}
.header {
	width: 100%;
	height: 70px;
	/*background: url(../img/slider-2015.jpg) center bottom no-repeat;*/
}
.top_header {
	/*width: 1200px;
	margin: 0 auto;*/
}
/*.logo img {
	margin-top: 10px;
}*/
a.logo {
	display: block;
	float: left;
	font-family: 'Conv';
	color: #ddd;
	text-decoration: none;
	font-size: 35px;
	padding: 1px 0px 0px 0px;
	text-shadow: 1px 1px 1px #000;
	height: 70px;
	overflow: hidden;
}
a.logo b {
	font-family: 'HelveticaNeueCyr-UltraLight';
	font-size: 18px;
	display: block;
	text-transform: none;
	color: #ddd;	
}
.communication {
	position: relative;
	float: right;
	margin-top: 15px;
}
.communication img {
	margin: 0 3px -3px 0;
	opacity: .6;
	-moz-opacity: .6;
    -ms-opacity: .6;
    -o-opacity: .6;
}
.communication p {
	float: left;
	padding: 9px 8px 0;
	margin: 0;
	font-size: 16px;
	text-shadow: 1px 1px 1px #000;
	font-weight: 100;
	color: #ddd;
}
.communication p b:hover {
	color: #fff;
}
.communication p b:hover img {
	opacity: 1;
	-moz-opacity: 1;
	-ms-opacity: 1;
	-o-opacity: 1;
}
/*End header*/
.container {
	margin: 0 auto;
	max-width: 1200px;
	/*min-width: 960px;*/
	padding: 0 20px;
}
/*>>>>Menu<<<<<*/
.nav {
	width: 100%;
	text-align: center;
	border: 1px #555 solid;
	padding: 0px;
	margin: 10px 0px 0px 0px;
	background: url(../img/navbbb.png);
	/*position: absolute;*/
}
.nav ul {
	list-style: none;
	padding: 0px;
	margin: 0px auto;
	position: relative;
}
.nav ul li {
	display: inline-block;
	margin: 0px 0px;
	cursor: pointer;
}
.nav ul li a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	padding: 17px 27px;
	font-size: 15px;
	transition: all 0.4s ease-out;
	-webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
}
.nav ul li a:hover {
	background: #fff;
	color: #333;
}
.nav li ul {
	height: 0px;
	width: 0px;
	overflow: hidden;
	position: absolute;
	top: auto;
	margin: 0px;
	text-align: left;
	background: #fff;
	z-index: 450;
}
.nav li ul li {
	display: list-item;
	margin: 0px;
}
.nav li ul li a {
	color: #000;
	padding: 13px 20px;
	font-size: 14px;
	border-bottom: 1px #f0f0f0 solid;
	border-left: 1px #ccc solid;
	border-right: 1px #ccc solid;
}
.nav li:hover ul{
	height: auto;
	width: auto;
	left: auto;
}
.nav ul li:hover a {
	background: #fff;
	color: #333;
}
.nav li ul li a:hover {
	background: #000;
	color: #fff;
}
/*Brief*/
.brief {
	box-sizing: border-box;
	height: 51px;
	/*float: right*/;
	position: relative;
}
.brief_cell {
	height: 100%;
	width: 122px;
	/*overflow: hidden;*/
	position: relative;
	-webkit-transition: width .15s .05s;
    -moz-transition: width .15s .05s;
    -o-transition: width .15s .05s;
    transition: width .15s .05s;
}
.brief_sell span {
	display: block;
	position: relative;
	left: 20px;
	-webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}
.brief_bounce {
	padding-right: 24px;
    background: url(../img/brief-ico2black.png) 100% 54% no-repeat;
    top: -100%;
    opacity: 0;
    position: absolute;
}
.brief_base {
	bottom: 0;
	opacity: 1;
}
li.brief:hover .brief__cell {
    width: 128px !important;
}
li.brief:hover .brief__bounce {
    top: 0 !important;
    opacity: 1 !important;
}
li.brief:hover .brief__base {
    opacity: 0 !important;
    bottom: -100% !important;
}
/*End Brief*/
/*>>>>END MENU<<<<*/
.wrapper {
	max-width: 1200px;
	/*height: 100%;*/
	margin: 0 auto;
}
.content-main {
	max-width: 960px;
	position: relative;
	/*height: 650px;*/
	margin: 0 auto;
	margin-bottom: 80px;
}
.row-services {
	/*max-width: 940px;
	min-width: 320px;
	height: 306px;*/
	overflow: hidden;
	margin-bottom: 20px;
	padding: 0px 10px;
}
.service {
	width: 47.87%;
	/*height: 306px;*/
	float: left;
	display: block;
}
a.service_head:hover .service_title {
	background: #ed003c;
}
 a.service_head:hover span {
	color: #fff;
	padding-left: 20px;
}
a.service_head:hover .bgp span {
	color: #ed003c;
	padding-left: 0px;
}
.service:first-child {
	margin-right: 4.25%;
}

a.service_head {
	display: block;
	text-decoration: none;
    width: 100%;
}
.service_title {
	width: 100%;
	height: 47px;
	display: table;

}
.service_title span {
	text-transform: uppercase;
	font: 30px 'pf_din_text_cond_prolight';
	-webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    display: table-cell;
    color: #000;
    padding-top: 7px;
}
.service_ico {
	overflow: hidden;
	position: relative;
	border: 1px solid #dee1e4;
	min-height: 144px;
	/*height: 178px;*/
}
.service__ico img.mask {
	position: absolute;
	display: none;
	left: 0;
	top: 0;
}
.service_ico img {
	width: 100%;
	height: auto;
	
}
p.bgp {
	margin-top: -35px !important;
	color: #80838e !important;
	padding-left: 17px !important;
	text-transform: uppercase;
	font-size: 14px;
}
.mask {
	display: none;
}
a.service_head:hover .service_ico img.mask {
	display: block;
	margin-bottom: 2.5px;
}
.service p {
	margin: 0px;
	padding: 0px;
	font-family: 'pf_din_text_cond_prolight';
	color: #2f3137;
}
a.service_head:hover .service_ico img {
	display: none;
}
p.bgp span {
	color: #ed003c;
}
/** Carousel **/
.carousel_bg {
	width: 100%;
	height: 262px;
	background: #a6a7a1;
	box-shadow: inset 0px 2px 5px #444;
    -webkit-box-shadow: inset 0px 2px 5px #444;
    margin-bottom: 200px;
}
.jcarousel-wrapper {
    position: relative;
    width: 100%;
    overflow-y: hidden;
    float: left;
    margin: 0 auto;
    background: #a6a7a1;
    box-shadow: inset 0px 2px 5px #444;
    -webkit-box-shadow: inset 0px 2px 5px #444;
    margin-bottom: 200px;
    padding: 11px 0px;
}
.jcarousel {
    position: relative;
    overflow: hidden;
    max-width: 1166px;
    /*min-width: 960px;*/
    margin: 0 auto;
}
.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
.jcarousel li {
    float: left;
    margin: 7px;
    border: 5px solid #CACACA;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
}
.jcarousel img {
    display: block;
    width: 100%;
    height: auto !important;
}
/** Carousel Controls **/
.jcarousel-control-prev
 {
    position: relative;
    text-decoration: none;
    width: 45px;
    height: 45px;
    border: none;
    outline: 0 !important;
     margin-left: 188px;
    text-align: center;
    cursor: pointer;
    float: left;
    background-image: url(../img/left.png);
    margin-left: 5px;
    overflow: hidden;
}
.jcarousel-control-prev img {
    margin-top: -2px !important;
}
.jcarousel-control-next {
    position: relative;
    text-decoration: none;
    width: 45px;
    height: 45px;
    outline: 0 !important;
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    float: right;
    background-image: url(../img/right.png);
}
.jcarousel-control-prev:hover {
	opacity: 0.8;
}
.jcarousel-control-next:hover {
	opacity: 0.8;
}
.jcarousel-control-prev, .jcarousel-control-next {
	margin-top: -140px;

	z-index: 99999999;
}
/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}
.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;
    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;
    margin-right: 7px;
    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}
.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;

    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}
.slide_content {
    height: 100%;
    width: 100% !important;
    overflow: hidden;
    display: none;
    -moz-transition: background-color 0.8s 0.1s ease;
	-o-transition: background-color 0.8s 0.1s ease;
	-webkit-transition: background-color 0.8s 0.1s ease;
	transition: background-color 0.8s 0.1s ease;
}
.jcarousel ul li .slide_content:hover {
	background-color: #ed003c;
	background: rgba(237,28,36,0.8);
}

.slide_content p {
	color: #fff;
	font-size: 16px;
	margin: 7px;
}
.slide_info {
	margin-top: 71px;
}
.jcarousel ul li .top_p {
	display: block;
	z-index: 100;
	top: -200px;
	position: relative;
	-webkit-transition: 0.8s 0.08s ease;
	-o-transition: 0.8s 0.08s ease;
	-moz-transition: 0.8s 0.08s ease;
	transition: 0.8s 0.08s ease;
}
.jcarousel ul li .slide_content:hover .top_p {
	top: 0;
}
.jcarousel ul li .slide_content:hover .bot_p {
	margin: 10px 0px 0px 0px;
	bottom: 0;
}
.jcarousel ul li .bot_p {
	display: block;
	z-index: 100;
	bottom: -200px;
	position: relative;
	-webkit-transition: 0.8s 0.08s ease;
	-o-transition: 0.8s 0.08s ease;
	-moz-transition: 0.8s 0.08s ease;
	transition: 0.8s 0.08s ease;
}
.line {
	width: 210px;
	margin: 0 auto;
	height: 4px;
	-moz-transition: background-color 0.8s 0.3s ease;
	-o-transition: background-color 0.8s 0.3s ease;
	-webkit-transition: background-color 0.8s 0.3s ease;
	transition: background-color 0.8s 0.3s ease;
}
.jcarousel ul li .slide_content:hover .line {
	background: #CACACA;
}
.jcarousel li:hover .imgs {
	position: relative;
	z-index: 3;
}
.jcarousel li:hover .slide_content {
	display: block;
	z-index: 100000 !important;
	position: absolute;
	top: 0px;
}
a.birka {
	width: 191px;
    height: 70px;
    background: url(../img/birka.png) no-repeat center top;
    float: left;
    margin: -63px 0px 0px 0px;
    left: 43.5%;
    position: absolute;
    z-index: 500;
    display: block;
}
.wrapp {
	margin: 0 auto;
    min-width: 960px;
    max-width: 1300px;
    padding: 0 20px;
}